*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: black;
    
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Solarsytem{
    position: relative;
    height: px;
    width: 1024px;
    height: 768px;
}

#backgroundImage{
    width: auto;
    height: 768px;
}

.sunspace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation:rotation 30s linear infinite;
}



#sunimage{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mpath{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171);
    animation: rotation 5s linear infinite; 
}

.mercuryspace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171);
  
}

.mercury{
    position: absolute;
    top: -5px;
    left: 50%;
    background-color: rgb(202, 206, 208);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    transform: translate(-50% , 0);
  
}

.vpath{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
    animation:rotation 10s linear infinite;
}

.venusspace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
}

.venus{
    position: absolute;
    top: -5px;
    left: 50%;
    background-color: rgb(202, 206, 208);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    transform: translate(-50% , 0);
  
}

.epath{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
    animation:rotation 30s linear infinite;
}
.earthspace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 210px;
    height: 210px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
}

.earth{
    position: absolute;
    border-radius: 50%;
    top: -20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50% , 0);
    border: 1px solid rgb(171, 171, 171);
    animation: rotation 5s linear infinite; 
   
}

#earthimage{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    transform: translate(-50% , -50%);
   
}

.moon{
    position: absolute;
    top: -5px;
    left: 50%;
    background-color: rgb(137, 138, 138);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    transform: translate(-50% , 0);
    animation: moonshadow 2s linear infinite ;

}

.marspath{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171);
    animation: rotation 50s linear infinite; 
}

.marsspace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171);

}
.mars{
    position: absolute;
    top: -10px;
    left: 50%;
    background-color: rgb(202, 206, 208);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    transform: translate(-50% , 0);
  
}

.jupitarpath{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
    animation:rotation 60s linear infinite;
}

.jupitarspace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
   
}

.jupitar{
    position: absolute;
    top: -20px;
    left: 50%;
    background-color: rgb(202, 206, 208);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transform: translate(-50% , 0);
  
}

.saturnpath{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
    animation:rotation 80s linear infinite;
}
.saturnspace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 

}

.saturn{
    position: absolute;
    top: -20px;
    left: 50%;
    background-color: rgb(202, 206, 208);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transform: translate(-50% , 0);
  
}

.uranuspath{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
    animation:rotation 120s linear infinite;
}
.uranusspace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 540px;
    height: 540px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
}

.uranus{
    position: absolute;
    top: -10px;
    left: 50%;
    background-color: rgb(202, 206, 208);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    transform: translate(-50% , 0);
   
}

.naptunepath{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
    animation: rotation 150s  infinite;
}

.neptunespace{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 620px;
    height: 620px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(171, 171, 171); 
   
}
.neptune{
    position: absolute;
    top: -10px;
    left: 50%;
    background-color: rgb(202, 206, 208);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    transform: translate(-50% , 0);
    transform: rotate(360deg);
   
}
 

 @keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}  


